.left{
    width: 100%;
    height: 100vh;
    background-color: #3CC7BE;
    background-image: url(../../Image/color.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    .logo{
        width: 20rem;
        padding: 1rem;

    }
    .circle{
        width: 40rem;
        align-self: flex-end;
        position: absolute;
        bottom: 0;
    }

}